<div class="container">
  <div class="row mt-5">
    <div class="col-9 offset-1">
    <div class="container-fluid">
      <div class="row">

           <div class="cover-text text-center">
            <p style="color: #0000ff; padding-right: 200px; padding-left: 0; padding-top: 150px;">
              ようこそ、gameing_informationへ！</br>
              このサイトは、ゲームの最新情報のレビューになります。</br>
              会員でない方も投稿の閲覧はできますが、</br>
              投稿には会員登録が必要になります。</br>
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h2><strong>新着投稿</strong></h2>
      </div>


  </div>
</div>