<div class="container">
  <div　class="row">
      <div class="col my-5">

        <h1 class="text-center">About</h1>

      </div>
  </div>

  <div class="row">
    <div class="col">
      <P class="text-center">
        gameing_informationはゲームの情報共有サイトです。</br>
        どんな方でもご利用いただけるよう、</br>
        多種多様な情報をご用意しております。</br>
        また、投稿によりほかの方と情報を共有し、</br>
        まだ見ぬ情報を手に入れることができます。</br>

      </P>
    </div>
  </div>
</div>